chat_instagram_for_flow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "ce79e52a-214f-4db3-b513-dd3e6eac1e88",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        20
      ],
      "id": "2a30cf7d-5d26-4c41-ad8f-0afe6f217f1b",
      "name": "Webhook",
      "webhookId": "ce79e52a-214f-4db3-b513-dd3e6eac1e88"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b307c691-5048-4d2d-b39c-bf5fecf1ec0e",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "842535b0-fcf2-446d-9a23-9d952db58b54",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "arseniy0311",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "2993965d-4d66-4b17-b75e-7fd60432ab6b",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        -100
      ],
      "id": "5a384a42-f942-4559-ba48-1dea50829f7d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f2c8787-2706-4483-bc64-ec76d3c54180",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c146b994ec2fdf78c493ac5454942d390970a2f69a7539e22aab6c2b5437fc1"
  },
  "id": "wEKy6sK2C5JDhRyj",
  "tags": []
}