final_build_(kind_of).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "ce79e52a-214f-4db3-b513-dd3e6eac1e88",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        20
      ],
      "id": "2a30cf7d-5d26-4c41-ad8f-0afe6f217f1b",
      "name": "Webhook",
      "webhookId": "ce79e52a-214f-4db3-b513-dd3e6eac1e88"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b307c691-5048-4d2d-b39c-bf5fecf1ec0e",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "842535b0-fcf2-446d-9a23-9d952db58b54",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "arseniy0311",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "2993965d-4d66-4b17-b75e-7fd60432ab6b",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        -100
      ],
      "id": "5a384a42-f942-4559-ba48-1dea50829f7d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.calendly.com/scheduling_links",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_event_count",
              "value": "1"
            },
            {
              "name": "owner",
              "value": "={{ $json.collection[0].uri }}"
            },
            {
              "name": "owner_type",
              "value": "EventType"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        40
      ],
      "id": "44f2e060-28d3-48c3-bbd6-e9aed728a249",
      "name": "scheduling_links"
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/users/me",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        40
      ],
      "id": "748abb0d-d46d-498b-b9e9-08789adaef6a",
      "name": "get_organization_for_next_node"
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/event_types",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "organization",
              "value": "={{ $json.resource.current_organization }}"
            },
            {
              "name": "admin_managed",
              "value": "false"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        40
      ],
      "id": "fafea321-2cff-416a-9fad-b1124b9ee8e1",
      "name": "get_event_types"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.resource.booking_url }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "id": "dde87934-5d1c-48a7-b7f8-389ff66c00ec",
      "name": "send message with invitation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "845ccbeb-6ba3-49c0-b25c-25d0d5142987",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "make an appointment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "55907de3-922b-4afb-bc86-1b314af3e1ab",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "information about appointment date",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        180
      ],
      "id": "c458392e-2cd5-43f7-a64f-2f4a1d555f8e",
      "name": "test_if_meeting"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://199c82d961c4.ngrok-free.app/api/messages/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}"
            },
            {
              "name": "sender",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        140
      ],
      "id": "a116dac4-bb08-4a37-9a7f-1781d26f844d",
      "name": "lm_analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Sure! Here is link for you to pick date and time you like that are available for the next week.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ],
      "id": "5db42a9b-04ce-4089-8c4d-088ff102f2ff",
      "name": "send message with invitation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Sorry, this bot cant help you with questions that are not connected to booking appointment\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        380
      ],
      "id": "3517f451-bdcb-4d17-b488-66e970a3bd58",
      "name": "answer for other questions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6a816e2-4378-476a-b298-d9788f8bf645",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "greeting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        260
      ],
      "id": "2ab6fbce-8ab8-4055-b58e-357e8770ad84",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Greetings, may i help with booking an appointment?\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        220
      ],
      "id": "d85992d7-4ad1-4e94-bcbc-07825e0a0d27",
      "name": "say hello"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lm_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_organization_for_next_node": {
      "main": [
        [
          {
            "node": "get_event_types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scheduling_links": {
      "main": [
        [
          {
            "node": "send message with invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_event_types": {
      "main": [
        [
          {
            "node": "scheduling_links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test_if_meeting": {
      "main": [
        [
          {
            "node": "get_organization_for_next_node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lm_analysis": {
      "main": [
        [
          {
            "node": "test_if_meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send message with invitation": {
      "main": [
        [
          {
            "node": "send message with invitation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "say hello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "answer for other questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d0d2c50b-def2-4c1b-990c-e22bf83d3fe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c146b994ec2fdf78c493ac5454942d390970a2f69a7539e22aab6c2b5437fc1"
  },
  "id": "wEKy6sK2C5JDhRyj",
  "tags": []
}