My_workflow (26).json

{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "ce79e52a-214f-4db3-b513-dd3e6eac1e88",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -120,
        -100
      ],
      "id": "2a30cf7d-5d26-4c41-ad8f-0afe6f217f1b",
      "name": "Webhook",
      "webhookId": "ce79e52a-214f-4db3-b513-dd3e6eac1e88"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b307c691-5048-4d2d-b39c-bf5fecf1ec0e",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "842535b0-fcf2-446d-9a23-9d952db58b54",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "arseniy0311",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "2993965d-4d66-4b17-b75e-7fd60432ab6b",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        440,
        -100
      ],
      "id": "5a384a42-f942-4559-ba48-1dea50829f7d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.calendly.com/scheduling_links",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "max_event_count",
              "value": "1"
            },
            {
              "name": "owner",
              "value": "={{ $json.collection[0].uri }}"
            },
            {
              "name": "owner_type",
              "value": "EventType"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        40
      ],
      "id": "44f2e060-28d3-48c3-bbd6-e9aed728a249",
      "name": "scheduling_links"
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/users/me",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        40
      ],
      "id": "748abb0d-d46d-498b-b9e9-08789adaef6a",
      "name": "get_organization_for_next_node"
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/event_types",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "organization",
              "value": "={{ $json.resource.current_organization }}"
            },
            {
              "name": "admin_managed",
              "value": "false"
            },
            {
              "name": "count",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        40
      ],
      "id": "fafea321-2cff-416a-9fad-b1124b9ee8e1",
      "name": "get_event_types"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.resource.booking_url }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "id": "dde87934-5d1c-48a7-b7f8-389ff66c00ec",
      "name": "send message with invitation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "845ccbeb-6ba3-49c0-b25c-25d0d5142987",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "make an appointment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "55907de3-922b-4afb-bc86-1b314af3e1ab",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "information about appointment date",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        200
      ],
      "id": "c458392e-2cd5-43f7-a64f-2f4a1d555f8e",
      "name": "test_if_meeting"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://199c82d961c4.ngrok-free.app/api/messages/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}"
            },
            {
              "name": "sender",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        180
      ],
      "id": "a116dac4-bb08-4a37-9a7f-1781d26f844d",
      "name": "lm_analysis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Sure! Here is link for you to pick date and time you like that are available for the next week.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "id": "5db42a9b-04ce-4089-8c4d-088ff102f2ff",
      "name": "send message with invitation1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Sorry, this bot cant help you with questions that are not connected to booking appointment\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        460
      ],
      "id": "3517f451-bdcb-4d17-b488-66e970a3bd58",
      "name": "answer for other questions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6a816e2-4378-476a-b298-d9788f8bf645",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "greeting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        280
      ],
      "id": "2ab6fbce-8ab8-4055-b58e-357e8770ad84",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Greetings, may i help with something?\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        220
      ],
      "id": "d85992d7-4ad1-4e94-bcbc-07825e0a0d27",
      "name": "say hello"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://complete-sole-8037.upstash.io/sadd/chat_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AR9lAAIjcDE4YjZjZGFmYTA1MDg0NDY5YjVmNzUyYzJiZTMyZGU3NHAxMA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=id_{{ $json.sender_id }}",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        480
      ],
      "id": "b9d002c7-329c-4600-a9b1-ca92085fc40b",
      "name": "sadd_chat_id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://complete-sole-8037.upstash.io/smembers/chat_ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AR9lAAIjcDE4YjZjZGFmYTA1MDg0NDY5YjVmNzUyYzJiZTMyZGU3NHAxMA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=id_{{ $json.body.entry[0].messaging[0].sender.id }}",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        640
      ],
      "id": "d1e1fd3e-26c4-42b1-9bfb-04a17fed13cf",
      "name": "check_if_id_exists"
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/scheduled_events?invitee_email=arseniy0311%40gmail.com&count=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        820
      ],
      "id": "d4697120-e7ad-4a21-8b22-d74b6743519e",
      "name": "get event list"
    },
    {
      "parameters": {
        "url": "https://api.calendly.com/scheduled_events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "https://api.calendly.com/users/b176c19c-1844-4a39-b360-3742bc1a9e8c"
            },
            {
              "name": "count",
              "value": "20"
            },
            {
              "name": "status",
              "value": "active"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        620
      ],
      "id": "6e416604-6ce8-4b4a-8542-602b55f5630b",
      "name": "get_all_meetings"
    },
    {
      "parameters": {
        "content": "DB actions\n",
        "height": 580,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        440
      ],
      "typeVersion": 1,
      "id": "20a5e60c-999f-42d0-baef-59fb6beb6950",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Callendly actions\n",
        "height": 180,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        0
      ],
      "typeVersion": 1,
      "id": "3fbbf1b2-95a5-476f-8c55-0072b2ecaacc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Check if correct user is using IG API",
        "height": 340,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -180
      ],
      "typeVersion": 1,
      "id": "77d8a4c7-f727-49d7-a7b4-3ef7adb0ecb0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93e94926-62e7-42e6-b2d4-76a5a07d956e",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "cancel an appointment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        640
      ],
      "id": "013f85e2-8105-4324-badc-8a89a60efbba",
      "name": "cancelation"
    },
    {
      "parameters": {
        "content": "## IG actions",
        "height": 200,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        260
      ],
      "typeVersion": 1,
      "id": "e22c0160-e138-40b2-a6bf-d60aaa438e83",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Can i also get your email address?\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        300
      ],
      "id": "7954616e-a394-43e7-99a9-62c9e3dbf0f3",
      "name": "get email address"
    },
    {
      "parameters": {
        "jsCode": "const targetEmail = \"arseniy0311@gmail.com\"; \nconst matches = [];\n\nfor (const item of $input.all()) {\n  const event = item.json;\n\n  if (Array.isArray(event.event_memberships)) {\n    for (const membership of event.event_memberships) {\n      if (\n        membership.user_email &&\n        membership.user_email.toLowerCase() === targetEmail.toLowerCase()\n      ) {\n        matches.push({\n          json: {\n            user: membership.user,\n            user_email: membership.user_email,\n            user_name: membership.user_name,\n            event_type: event.event_type,\n            uri: event.uri,\n            start_time: event.start_time\n          }\n        });\n      }\n    }\n  }\n}\n\nreturn matches;\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        620
      ],
      "id": "84fff444-73e4-4a10-bd17-73f861ccf3fe",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(); // Current time in UTC\nconst futureEvents = [];\n\nconst inputData = $input.first().json.collection;\n\nfor (const event of inputData) {\n  const startTime = new Date(event.start_time);\n  if (startTime > now) {\n    futureEvents.push({ json: event });\n  }\n}\n\nreturn futureEvents;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        620
      ],
      "id": "9afb0cda-52f0-43df-9e11-c8cd3b9c3122",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04c74603-5c8e-4c52-8835-8b3c1c71be73",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "email address",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        400
      ],
      "id": "6e376e5c-17c0-4fa5-a47d-24f318b9ab66",
      "name": "if email address"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.uri }}/cancellation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzUzOTAzODI4LCJqdGkiOiJiMzNiNGRmNy00YTk1LTQzNDctYjY1ZS1lYWU5MDZlZWIzZTQiLCJ1c2VyX3V1aWQiOiJiMTc2YzE5Yy0xODQ0LTRhMzktYjM2MC0zNzQyYmMxYTllOGMifQ.4qeDlQnmAhocP6RIgzC8neL4H8U-CGfVeTLKRqrZXxnn9zmZ-5KbmmgZxDEFV8FvPalHYuBGtmJi0YPfja1aTQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reason",
              "value": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        620
      ],
      "id": "71e34d3f-1490-4954-bcd5-b0fcf7129472",
      "name": "cancel last meeting that was booked for this email address"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKcZBXPslMtBZAE5mc0hCd2o4b0o5SHh6S1VnZATNfbVFTUXFtYUd3WTJEa3pncndadmpsUlBDQTVoc3pDVDR1ZAjFhTm9PeVhJRXJfaWVnVkNGZA1N3MjVJU2gwM24tUGFKZAjVQQUdHNlFwdjdwRFl6WGFaNE9BallndUJDMU1CWQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"The meeting was cancelled. Thank you.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        620
      ],
      "id": "eee5ae98-e6e8-4310-bd80-f3e9cf610f7b",
      "name": "cancell approval message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1ffcfb3-cc26-4807-8a4a-fdd012bf5dc7",
              "leftValue": "={{ $json.classified_intent }}",
              "rightValue": "email address",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        180
      ],
      "id": "3404bd01-2236-4234-892d-5b2441693414",
      "name": "if email address1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lm_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_organization_for_next_node": {
      "main": [
        [
          {
            "node": "get_event_types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scheduling_links": {
      "main": [
        [
          {
            "node": "send message with invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_event_types": {
      "main": [
        [
          {
            "node": "scheduling_links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test_if_meeting": {
      "main": [
        [
          {
            "node": "get_organization_for_next_node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lm_analysis": {
      "main": [
        [
          {
            "node": "if email address1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send message with invitation": {
      "main": [
        [
          {
            "node": "send message with invitation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "say hello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "if email address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send message with invitation1": {
      "main": [
        [
          {
            "node": "get email address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelation": {
      "main": [
        [
          {
            "node": "get_all_meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_all_meetings": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "cancel last meeting that was booked for this email address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if email address": {
      "main": [
        [],
        [
          {
            "node": "cancelation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancel last meeting that was booked for this email address": {
      "main": [
        [
          {
            "node": "cancell approval message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if email address1": {
      "main": [
        [
          {
            "node": "sadd_chat_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "test_if_meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f79ffe44-b265-4ae4-b74f-feca74f35ef6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c146b994ec2fdf78c493ac5454942d390970a2f69a7539e22aab6c2b5437fc1"
  },
  "id": "wEKy6sK2C5JDhRyj",
  "tags": []
}