My_workflow (10).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-review",
        "options": {}
      },
      "id": "477ac9ed-cd9e-4bb5-84da-b4663a4c5066",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -760,
        140
      ],
      "webhookId": "dafaaaa2-7841-4e4a-8a5c-bc89cacb37b8",
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/analyze",
        "jsonParameters": true,
        "options": {}
      },
      "id": "ab9de67f-20c1-4e0b-abcb-9911a0f29b29",
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -660,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "label",
              "value": "={{ $json[\"body\"][\"label\"] }}"
            },
            {
              "name": "score",
              "value": "={{ $json[\"body\"][\"score\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99923215-9362-4e60-b60f-ba345111abe0",
      "name": "Set Sentiment Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -420,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"label\"]}}",
              "value2": "NEGATIVE"
            }
          ]
        }
      },
      "id": "b3f39a5a-46e4-4f8a-a5b7-d6a964282781",
      "name": "Is Negative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -120,
        140
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "chatId": "1065184647",
        "text": "=Обнаружен негативный отзыв:  \"{{$node[\"Webhook\"].json[\"body\"][\"text\"]}}\" \"{{$json[\"score\"]}}\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ecf2cf1d-95b1-4ec1-9044-a698adceee34",
      "name": "Telegram",
      "webhookId": "0b129b8f-271a-4ff9-8392-701ada1d9bcd",
      "credentials": {
        "telegramApi": {
          "id": "sQCGXAE9gcIrNE1h",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "arseniy0311@gmail.com",
        "toEmail": "arseniy0311@gmail.com",
        "subject": "Негативный отзыв обнаружен",
        "text": "Обнаружен негативный отзыв:\n\n\"{{$node[\"Webhook\"].json[\"body\"][\"text\"]}}\"\n\nОценка модели: {{$json[\"score\"]}}",
        "options": {}
      },
      "id": "87b58559-1d36-4074-92d1-20d951d882fe",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        -280,
        740
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wI1i4wm0D7AEXZEfDZOkEPpdazuQw6-q3SEElNfi9S0",
          "mode": "list",
          "cachedResultName": "ai_test_spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wI1i4wm0D7AEXZEfDZOkEPpdazuQw6-q3SEElNfi9S0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wI1i4wm0D7AEXZEfDZOkEPpdazuQw6-q3SEElNfi9S0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{$node[\"Webhook\"].json[\"body\"][\"text\"]}}",
            "label": "={{$json[\"label\"]}}",
            "score": "={{$json[\"score\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        280
      ],
      "id": "555d69c9-9d0c-43d9-b49d-df8ba384287c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "deFqrgL499HseS6j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wI1i4wm0D7AEXZEfDZOkEPpdazuQw6-q3SEElNfi9S0",
          "mode": "list",
          "cachedResultName": "ai_test_spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wI1i4wm0D7AEXZEfDZOkEPpdazuQw6-q3SEElNfi9S0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 739628804,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wI1i4wm0D7AEXZEfDZOkEPpdazuQw6-q3SEElNfi9S0/edit#gid=739628804"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{$node[\"Webhook\"].json[\"body\"][\"text\"]}}",
            "label": "={{$json[\"body\"][\"label\"]}}",
            "score": "={{$json[\"score\"][\"score\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "label",
              "displayName": "label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        0
      ],
      "id": "3fdc1b51-03ca-4941-a157-ea32ae81039b",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "deFqrgL499HseS6j",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Sentiment Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        []
      ]
    },
    "Set Sentiment Output": {
      "main": [
        [
          {
            "node": "Is Negative?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Negative?": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76f19f16-f07a-4499-bde8-5469cf46061f",
  "meta": {
    "instanceId": "bd69f7255f32c13e2cc43b43fb248daa8f93dd295c68a7766f7cd9e1982a708c"
  },
  "id": "6K5bkbMT5shxcAFn",
  "tags": []
}