test.json
{
  "name": "Instagram Posting Workflow",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "imageUrl",
              "value": "https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8fDA%3D&w=1000&q=80"
            },
            {
              "name": "captionText",
              "value": "Hello from n8n! 👋 This is an automated post. #n8n #automation #instagram"
            },
            {
              "name": "Node",
              "value": "<your node id>"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Image & Caption",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        580,
        -60
      ],
      "id": "df7b62aa-ce17-464d-8747-6cea80916f8a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -60
      ],
      "id": "1c9e377a-9be6-4bdd-8994-33d9b542e3f2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.Node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        800,
        -60
      ],
      "id": "ef976b5d-2695-4edd-9b31-0cca8680436b",
      "name": "Creating Container ID",
      "credentials": {
        "facebookGraphApi": {
          "id": "pOnac7YH8fubtA2J",
          "name": "Instagram Access Token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Set Image & Caption').item.json.Node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('Set Image & Caption').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Image & Caption').item.json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1020,
        -60
      ],
      "id": "92016499-eefe-46c1-be43-9aed1baef20d",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "pOnac7YH8fubtA2J",
          "name": "Instagram Access Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Set Image & Caption": {
      "main": [
        [
          {
            "node": "Creating Container ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Image & Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Container ID": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c213637c-e0d9-45d0-8d3f-ea8877d28b95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d6a5bcda733904ebcb54fc0e889f6735550f40f670703e17874c0872e05a9cb"
  },
  "id": "Ev54Zrdmu5nZes5t",
  "tags": []
}